body {
  background-color: #daeaf1;
  background-image: url("assets/weather.jpg");
  background-size: cover;
  background-position: center;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  input {
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #4a4a4a;
    padding-left: 1rem;
    border-radius: 0.5rem;
    background-image: url("assets/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.5rem;
    padding-left: 3.5rem;
    opacity: 0.5;
  }
  input::placeholder {
    color: #a0a0a0;
  }
  input::selection {
    background-color: #c6dce4;
    color: #4a4a4a;
  }
}
.card-a {
  height: 20rem;
  width: 70rem;
  background-color: #c6dce4;
  border-radius: 0.5rem;
  opacity: 0.7;
}
.card-b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.subcard {
  height: 12rem;
  width: 10rem;
  background-color: #c6dce4;
  margin-top: 2rem;
  border-radius: 0.5rem;
  opacity: 0.7;
}
